fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.4
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9

# OpenTelemetry
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-fastapi
